<!DOCTYPE html>
<html lang="en">
  {% include recipeshead.html %}
  <body>

    {%- if page.layout == "recipeshome" -%}
    {%- if site.recipe_bookcover -%}
      <a title="see a list of all recipes" href="/recipelist"><div id="main">
    <img class="cover" src="{{ site.recipe_bookcover | relative_url }}" alt="site.title">
      </div></a>
    {%- endif -%}
    {%- endif -%}

    {% include recipenavbar.html %}
    <div class="content">
      {{ content }}
      {%- if page.layout == "recipeshome" -%}
      <a title="see a list of all recipes" href="/recipelist">see a list of all recipes</a>
      {%- endif -%}
    </div>

    {% include footer.html %}
  </body>
</html>
